.jcarousel-skin-banners .jcarousel-container {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
   border-radius: 4px;
    background: #eedddd;
    border: 1px solid #cbcbcb;
}

.jcarousel-skin-banners .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-banners .jcarousel-container-horizontal {
    width: 820px;
    padding: 4px 20px;
}

.jcarousel-skin-banners .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-banners .jcarousel-clip-horizontal {
    width:  800px;
    height: 120px;
}

.jcarousel-skin-banners .jcarousel-item {
    width: 120px;
    height: 120px;
}

.jcarousel-skin-banners .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-banners .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-banners .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-banners .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-banners .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-banners .jcarousel-next-horizontal:hover,
.jcarousel-skin-banners .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-banners .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-banners .jcarousel-next-disabled-horizontal,
.jcarousel-skin-banners .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-banners .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-banners .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-banners .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-banners .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-banners .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-banners .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-banners .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-banners .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-banners .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-banners .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-banners .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}