%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title
			The Home Page
		%script{:type => "text/javascript", :src => "../../lib/assets/jquery-latest.pack.js"}
		%script{:type => "text/javascript", :src => "../../lib/assets/jquery-1.4.2.min.js"}
		%script{:type => "text/javascript", :src => "../../lib/assets/jquery.jcarousel.min.js"}
		%script{:type => "text/javascript", :src => "../assets/javascripts/carousel.js"}
		%link{:rel=>"stylesheet", :href => "../assets/stylesheets/style.css"}
		%link{:rel=>"stylesheet", :href => "../assets/stylesheets/home.css"}

	%body
		#wrapper

			%header
				%h1
					Logo Image

			#main
				
				#carousel_wrap
					%ul#banners.jcarousel-skin-banners
						%li
							%img{:src => "../assets/images/banner1.jpg", :width => "190px", :height => "190px"}
						%li
							%img{:src => "../assets/images/banner2.jpg", :width => "190px", :height => "190px"}
						%li
							%img{:src => "../assets/images/banner3.jpg", :width => "190px", :height => "190px"}
						%li
							%img{:src => "../assets/images/banner4.jpg", :width => "190px", :height => "190px"}
						%li
							%img{:src => "../assets/images/banner5.jpg", :width => "190px", :height => "190px"}
				
				#menu_tree
					%ul
						%li.branch
							%h3
								Cards
							%ul
								%li 
									%a{:href => '#'} Birthday
								%li
									%a{:href => '#'} Seasonal
								%li
									%a{:href => '#'} Baby
								%li
									%a{:href => '#'} For Him
								%li
									%a{:href => '#'} For Her
						%li.branch
							%h3
								Toys
							%ul
								%li
									%a{:href => '#'} Baby
						%li.branch
							%h3
								Shirts
							%ul
								%li
									%a{:href => '#'} For Her
								%li
									%a{:href => '#'} For Him
						%li.branch
							%h3
								Coffee
							%ul
								%li
									%a{:href => '#'} 50g
								%li
									%a{:href => '#'} 100g
			%footer
				Footer info here