<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>
      The Home Page
    </title>
    <script src='../../lib/assets/jquery-latest.pack.js' type='text/javascript'></script>
    <script src='../../lib/assets/jquery-1.4.2.min.js' type='text/javascript'></script>
    <script src='../../lib/assets/jquery.jcarousel.min.js' type='text/javascript'></script>
    <script src='../assets/javascripts/carousel.js' type='text/javascript'></script>
    <link href='../assets/stylesheets/style.css' rel='stylesheet' />
    <link href='../assets/stylesheets/home.css' rel='stylesheet' />
  </head>
  <body>
    <div id='wrapper'>
      <header>
        <h1>
          Logo Image
        </h1>
      </header>
      <div id='main'>
        <div id='carousel_wrap'>
          <ul class='jcarousel-skin-banners' id='banners'>
            <li>
              <img height='190px' src='../assets/images/banner1.jpg' width='190px' />
            </li>
            <li>
              <img height='190px' src='../assets/images/banner2.jpg' width='190px' />
            </li>
            <li>
              <img height='190px' src='../assets/images/banner3.jpg' width='190px' />
            </li>
            <li>
              <img height='190px' src='../assets/images/banner4.jpg' width='190px' />
            </li>
            <li>
              <img height='190px' src='../assets/images/banner5.jpg' width='190px' />
            </li>
          </ul>
        </div>
        <div id='menu_tree'>
          <ul>
            <li class='branch'>
              <h3>
                Cards
              </h3>
              <ul>
                <li>
                  <a href='#'>Birthday</a>
                </li>
                <li>
                  <a href='#'>Seasonal</a>
                </li>
                <li>
                  <a href='#'>Baby</a>
                </li>
                <li>
                  <a href='#'>For Him</a>
                </li>
                <li>
                  <a href='#'>For Her</a>
                </li>
              </ul>
            </li>
            <li class='branch'>
              <h3>
                Toys
              </h3>
              <ul>
                <li>
                  <a href='#'>Baby</a>
                </li>
              </ul>
            </li>
            <li class='branch'>
              <h3>
                Shirts
              </h3>
              <ul>
                <li>
                  <a href='#'>For Her</a>
                </li>
                <li>
                  <a href='#'>For Him</a>
                </li>
              </ul>
            </li>
            <li class='branch'>
              <h3>
                Coffee
              </h3>
              <ul>
                <li>
                  <a href='#'>50g</a>
                </li>
                <li>
                  <a href='#'>100g</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <footer>
        Footer info here
      </footer>
    </div>
  </body>
</html>
