%h1 Edit Attribute Type
= render "form"

%p
	= link_to 'Show All', attr_types_path
	|
	= link_to 'Delete', @attr_type, :confirm => 'Delete it?', :method => :delete
	/ = link_to 'Delete', destroy_attr_type(@attr_type)
