= render "errors"

%h1 Edit Label

= render "form"

%p
	= link_to 'Show All', labels_path
	|
	= link_to 'Delete', @label, :confirm => 'Delete it?', :method => :delete
	/ = link_to 'Delete', destroy_label(@label)
