#carousel_wrap
	%ul#banners.jcarousel-skin-banners
		%li
			=image_tag("banner1.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner2.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner3.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner4.JPG", :width => "190px", :height => "190px")


#menu_tree
	%ul
		- @groups.each do |grp|
			%li.branch
				%h3
					= grp.name
				%ul
					- grp.labels.each do |lbl|
						%li
							%a{:href => '#'} 
								=lbl.name
