#carousel_wrap
	%ul#banners.jcarousel-skin-tango
		%li
			=image_tag("banner1.JPG", :width => "228px", :height => "228px")
		%li
			=image_tag("banner2.JPG", :width => "228px", :height => "228px")
		%li
			=image_tag("banner3.JPG", :width => "228px", :height => "228px")
		%li
			=image_tag("banner4.JPG", :width => "228px", :height => "228px")
