%h1 
	All Items

- if @items
	%ul
		- @items.each do |item|
			%li
				- if item.group 
					= item.group.name
				- else
					no group
				&nbsp;
				= link_to(item.name, edit_item_path(item))	
- else
	No Records...

%p
	= link_to('Add New', new_item_path)


			