#carousel_wrap
	%ul#banners.jcarousel-skin-banners
		%li
			=image_tag("banner1.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner2.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner3.JPG", :width => "190px", :height => "190px")
		%li
			=image_tag("banner4.JPG", :width => "190px", :height => "190px")


#menu_tree
	#tabs
		#tabs-groups

			%ul
				- @groups.each do |grp|
					%li.branch
						.tab-group.tab-inactive
							= link_to grp.name, groupitems_path(:group_id => grp.id) 

						%ul
							- grp.labels.each do |lbl|
								%li
									= link_to lbl.name, labelitems_path(:label_id => lbl.id) 