#tabs
	= render 'tabs_groups'

	#tab-content.tab-active

		- if @items
			- @items.each do |item|
				.list_item 
					- photo = item.photos[0]
					= link_to image_tag(photo.img.url(:medium), :title => item.name), itemshow_path(:id => item.id)
					%br
					= item.name

	= render "tab_labels"
