#sidebar
	- if @group_labels
		%ul
			- @group_labels.each do |lbl|
				%li=lbl.name

#content
	- if @label_items
		%div 
			Items:
			- @label_items.each do |item|
				- if item.group
					= item.group.name
				- item.photos.each do |photo|
					= link_to image_tag(photo.img.url(:medium), :title => item.name), photo.img.url, :rel => 'gallery'
			