#sidebar
	%ul
		%li Birthday
		%li Seasonal

#content
	- if @items
		%div 
			Items:
			- @items.each do |item|
				- if item.group
					= item.group.name
				- item.photos.each do |photo|
					= link_to image_tag(photo.img.url(:medium), :title => item.name), photo.img.url, :rel => 'gallery'
			