//$color_bg: #29264D
$color_bg: #CCC
$color_text: #555
$color_text_active: #685BB5
$color_link: #494962
// $color_text_active: #685BB5
$color_text_active: lighten(saturate($color_link, 30%), 22%)
$color_text_lite: #9E9EDE
//$color_text: #eedddd
//$color_tab_border: #99a
$color_tab_border: white

@mixin round-border($color: gray, $width: 1px, $radius: 4px)
	border: solid $width $color
	border-radius: $radius $radius
	-moz-border-radius: $radius $radius
	-webkit-border-radius: $radius $radius
	-khtml-border-radius: $radius $radius
	-o-border-radius: $radius $radius
	behavior: url(ie-css3.htc)

@mixin opacity($percent)
	background-color: #ddd
	filter: alpha(opacity=$percent)
	opacity: $percent * 0.01
	// background: none transparent scroll repeat 0% 0%

@mixin bg_opacity($percent)
	// background: #262626 no-repeat 100%
	// background-color: #E7EADE
	background: rgba(255, 255, 255, $percent * 0.01)

html, body, div, ul
	margin: 0
	padding: 0

body
	color: $color_text
	font: normal 14px/20px Verdana, sans-serif
	background: #D8D8D8
	background: url('background.jpg') no-repeat scroll left top transparent !important
	behavior: url(csshover3.htc)

h1
	margin: 6px 0 10px 0
	font-size: 20px
	font-weight: bold
	font-family: Arial
	span
		font-size: 50%
		letter-spacing: -0.05em

hr
	border: none
	height: 1px
	line-height: 1px
	background: #E5E5E5
	margin-bottom: 20px
	padding: 0

p
	margin: 0
	padding: 7px 0

a:hover
	color: lighten(saturate($color_link, 10%), 20%)
a
	color: $color_link
	text-decoration: none
	white-space: nowrap
	outline: none
	img
		@include round-border(#aaa, 1px, 4px)
		padding: 3px
		margin: 0
		vertical-align: top
		.last
			margin-right: 0


nav a
	font-size: 0.8em

ul
	list-style-type: none


.clearfix
	display: block
	margin: 0
	padding: 0

.framed
	border: solid 2px white

.framed_test
	border: solid 1px red



/* ~~~~~~~~~~~~~ end of COMMON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#wrapper
	float: left
	width: 985px
	margin: 0 auto auto 60
	padding: 4px
	//@include round-border('$color_tab_border', 4px)

	header
		min-height: 40px

		#logo-float
			background: url(logo-top.png) no-repeat scroll 0 0 transparent
			float: left
			display: block
			height: 60px
			width: 400px
			text-indent: -9999px
			z-index: 3

		#contact-float
			float: right

	footer
		width: 860px
		vertical-align: baseline
		margin: 0 auto
		padding-top: 10px

	#content
		min-height: 560px
		vertical-align: top
		margin: 0 auto
		position: relative
		z-index: 2

		#tabs
			margin-top: 20px
			overflow: hidden


			.tab-inactive
				@include opacity(50)
			.tab-inactive:hover
				@include opacity(84)

			.tab-active
				@include opacity(90)

			#tabs-groups
				height: 71px

				.tab-wrap
					margin-left: 10px
					float: right

				.tab-group
					font-size: 1.2em
					text-align: center
					width: 100px
					padding: 6px
					@include round-border($color_tab_border, 2px, 12px)

					&.tab-active
						color: $color_text_active

				.group-labels
					font-size: 0.8em !important


				.tab-conn-vert
					width: 0px
					border: dotted 2px white
					height: 26px
					margin-left: 52px
					margin-top: 2px
					margin-bottom: 2px

			#tab-content
				float: right
				width: 760px
				padding: 20px
				min-height: 200px
				@include round-border($color_tab_border, 2px, 12px)

				.list_item
					float: left
					margin: 6px
					padding: 0px
					text-align: center


			#tab-side-wrap
				margin-right: 0px
				float: right

			.tab-conn-horiz
				float: right
				width: 20px
				border: dotted 2px white
				height: 0px
				margin-top: 40px
				margin-left: 2px
				margin-right: 2px

			.tab-labels
				float: right
				width: 100px
				padding: 24px
				@include round-border($color_tab_border, 2px, 12px)

		#carousel_wrap
			position: absolute
			top: 480px



#unused
	@include round-border($color_text_lite, 2px, 20px)
	-moz-box-shadow: 0px 0px 10px black
	-webkit-box-shadow: 0px 1px 1px black
	-moz-box-shadow: 0px 0px 10px $color_tab_border
	-webkit-box-shadow: 0px 0px 10px $color_tab_border
	z-index: 2

	#menu_tree
		font-size: 1em
		text-align: center
		.branch
			float: left
			width: 200px
			display: block
			margin-right: 10px



